<% include ../../partials/boilerplate %>

  <div class='blog-name'>
    <h1>THE LIFESTYLE BLOG OF MITSI G.</h1>
    <h2>ALL ARTICLES</h2>
  </div>

<div class="flex-article-container">

<% articles.forEach((article) => { %>
  <div>
    <p>
      Article: <a href="/articles/<%= article.id%>"><%=article.id%></a>
    </p>
    <p>Date: <%=article.article_date%></p>
    <p>Category: <%=article.category%></p>
    <p><%=article.article%></p>
  </div>
<% }) %>

</div>
<% include ../../partials/end %>
