<% include ../../partials/boilerplate %>

  <div class='blog-name'>
    <h1>THE LIFESTYLE BLOG OF MITSI G.</h1>
  </div>

<div class="flex-article-container">

<% articles.forEach((article) => { %>
  <div>
    <p>
      Article id: <a href="/articles/<%= article.id%>"><%=article.id%></a>
    </p>
    <p>Date: <%=article.article_date%> Category: <%=article.category_id%></p>
    <p><%=article.article%></p>
  </div>
<% }) %>

</div>
<% include ../../partials/end %>
