<% include ../../partials/boilerplate %>

<div class="flex-container">

<% articles.forEach((article) => { %>
  <div class="article">
    <p>
      Article id: <a href="/articles/<%= article.id%>"><%=article.id%></a>
    </p>
    <p>Date: <%=article.article_date%> Category: <%=article.category_id%></p>
    <p><%=article.article%></p>
  </div>
<% }) %>

</div>
<% include ../../partials/end %>
