<% include ../../partials/boilerplate %>
<% include ../../partials/reg-header %>

  <p>
   All Articles
  </p>

</header>

<main class="list">
  <div class="article-list">
    <% articles.forEach((article) => { %>
      <article>
        <header>
          <h2>
            <a href="/articles/<%= article.id%>"><%=article.category%></a>
          </h2>
        </header>
        <p>
          <%=article.article%>
        </p>
        <p>
          Post from <%=article.good_date%> by <span class="blogger">mitsi g</span>., filed under <a href="/categories/<%=article.category_id%>"><%=article.category%>.</a>
        </p>
      </article>
    <% }) %>
  </div>
  <aside>
    <p>The Daily Cats. Because life is better with cats.</p>
    <div class="featured"></div>
    <div class="featured"></div>
  </aside>
</main>

<% include ../../partials/end %>
